input[type="text"], textarea {
    border: 1px solid #BBB; border-radius: 3px; }
input.error, textarea.error {
    border: 1px solid #FF0000; background-color: #FFEEEE; }
span.error { color: #FF0000; display: block; font-size: 0.95em;
    background: transparent 0px 2px no-repeat; text-indent: 2px; }
span.error-message {
    display: block; padding: 25px 25px 25px 80px; margin: 0 0 15px 0;
    border: 1px solid #DFDFDF; color: #333333; font-size: 13px;
    line-height: 17px; float: none; font-weight: normal;
    width: auto; -moz-border-radius:5px 5px 5px 5px; }
span.error-message { border:1px solid #C44509;
    background: no-repeat scroll 2px 50% #fdcea4; }